

<div id="container2">

  <div id="header2">
    <h2>ثبت کارمند جدید</h2>
  </div>

  <div id="menu2">
    <h2 style="color: aliceblue; text-align: center">منو</h2>
    <hr/>
    <br/>
    <br/>
    <button pButton type="button" label="مدیریت کارمندان" class="ui-button-raised ui-button-secondary" (click)="navigateToComponentEmployee()"></button>
    <br/>
    <br/>
    <br/>
    <button pButton type="button" label="چت" class="ui-button-raised ui-button-secondary" (click)="navigateToComponentChat_register()"></button>
  </div>

  <div id="content2">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <input id="text1" type="text" pInputText [(ngModel)]="employee.name"/> <label id="lable1">نام و نام خانوادگی</label>
    <br/>
    <br/>
    <input id="text3" type="text" pInputText [(ngModel)]="employee.salary"/> <label id="lable3">حقوق</label>
    <br/>
    <br/>
    <input id="text2" type="text" pInputText [(ngModel)]="employee.age"/> <label id="lable2">سن</label>
    <br/>
    <br/>
    <br/>
    <button id="buttoninsert" pButton type="button" label="ثبت" class="ui-button-raised ui-button-secondary" (click)="saveEmployee()"></button>
  </div>

  <div id="footer2"></div>
</div>
