


#container2{
  width: 100%;
  background-color: aliceblue;
}

#header2{
  height: 60px;
  margin-bottom: 5px;
  background-color: aliceblue;
  border-style: solid;
  border-color: darkcyan;
  border-width: 4px;
  text-align: center;
}

#menu2{
  width: 20%;
  height: 500px;
  float: right;
  background-color: darkcyan;
  border-style: dashed;
  border-color: aliceblue;
  border-width: 4px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: center;
}

hr{
  color: aliceblue;
  size: 5px;
}

#content2 {
  width: 77%;
  height: 500px;
  float: right;
  background-color: aliceblue;
  border-style: solid;
  border-color: darkcyan;
  border-width: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: right;
}

#footer2{
  height: 30px;
  clear: both;
  text-align: center;
  background-color: darkcyan;
  border-style: solid;
  border-color: darkcyan;
  border-width: 4px;
  margin-top: 5px;
}

#lable1{
  margin-right: 300px;
  font-size: 17px;
}
#text1{
  margin-right: 20px;
  margin-top: 40px;
  text-align: center;
}
#lable2{
  margin-right: 370px;
  text-align: right;
  font-size: 17px
}
#text2{
  margin-right: 35px;
  margin-top: 10px;
  text-align: center;
}
#lable3{
  margin-right: 360px;
  text-align: right;
  font-size: 17px;
}
#text3{
  margin-right: 30px;
  margin-top: 10px;
  text-align: center;
}
#buttoninsert{
  margin-right: 650px;
}



