
<!--<table >
  <tr>
    <td>1234</td>
    <td>5678</td>
  </tr>
</table>-->

<div id="container">

  <div id="header">
    <h2>مدیریت کارمندان</h2>
  </div>

  <div id="menu">
    <h2 style="color: aliceblue; text-align: center">منو</h2>
    <hr/>
    <br/>
    <br/>
    <button pButton type="button" label="مدیریت کارمندان" class="ui-button-raised ui-button-secondary" (click)="navigateToComponentEmployeetwo()"></button>
    <br/>
    <br/>
    <br/>
    <button pButton type="button" label="چت" class="ui-button-raised ui-button-secondary" (click)="navigateToComponentChat_employee()"></button>
  </div>

   <div id="content">
     <br/>
     <button id="button_insert" pButton type="button" label="ثبت کارمند جدید" class="ui-button-raised ui-button-secondary" (click)="navigateToComponentRegistration()"></button>
     <br/>
     <br/>
     <div style="text-align: center" id="table">
     <p-table id="table-employee-list" dir="rtl" [value]="employeeList">
       <ng-template pTemplate="header">
         <tr>
           <th>شماره</th>
           <th>نام و نام خانوادگی</th>
           <th>حقوق</th>
           <th>سن</th>
           <th>حذف</th>
         </tr>
       </ng-template>
       <ng-template pTemplate="body" let-employee>
         <tr>
           <td>{{employee.id}}</td>
           <td>{{employee.employee_name}}</td>
           <td>{{employee.employee_salary}}</td>
           <td>{{employee.employee_age}}</td>
           <td><button pButton type="button" label="حذف" class="ui-button-raised ui-button-secondary" (click)="deleteEmployee(employee.id)"></button></td>
         </tr>
       </ng-template>
     </p-table>
     </div>
   </div>

   <div id="footer"></div>
</div>

