
#table-login{
  height: 470px;
  width: 400px;
  text-align: center;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-width: 2px;
  margin-top: 2%;
  margin-left: 7%;
}
#td-one{
  border-bottom-style: solid;
  border-bottom-color: darkgray;
  border-bottom-width: 3px;
  text-align: center;
  font-size: large;
}
#td-two{
  height: 75%;
}
#td-three{
  border-top-style: solid;
  border-top-color: darkgray;
  border-top-width: 3px;
  text-align: center;
}
#button-send_one{
  margin-left: 10px;
}
