

#table-login{
  height: 400px;
  width: 400px;
  text-align: center;
  background-color: aliceblue;
  border-style: solid;
  border-color: darkcyan;
  border-width: 5px;
  margin-left: 35%;
  margin-top: 6%;
}
label{
  margin-left: 20px;
}
 #td-one{
   border-bottom-style: solid;
   border-bottom-color: darkcyan;
   border-bottom-width: 5px;
   text-align: center;
   font-size: large;
 }
#button-login{
  margin-right: 50%;
}
#td-two{
  border-top-style: solid;
  border-top-color: darkcyan;
  border-top-width: 5px;
  text-align: center;
}
