
<div id="container-login">

<table id="table-login">
  <tr>
    <td id="td-one"> لطفا نام کاربری و رمز عبور خود را وارد کنید</td>
  </tr>
  <tr>
    <td>
      <input style="text-align: center" type="text" pInputText [(ngModel)]="username"/> <label>نام کاربری</label>
      <br/>
      <br/>
      <input style="text-align: center" type="password" pInputText [(ngModel)]="password"/> <label>رمز عبور</label>
      <br/>
      <br/>
      <br/>
      <button id="button-login" pButton type="button" label="ورود" class="ui-button-raised ui-button-secondary" (click)="doLogin()"></button>
    </td>
  </tr>
  <tr>
    <td id="td-two">
      <a href="./login/forget-password" >فراموشی رمز عبور</a>
    </td>
  </tr>
</table>

</div>




