


<div id="container-login">

  <table id="table-login">

    <tr>
      <td id="td-one">شخص دوم</td>
    </tr>

    <tr>
      <td id="td-two">
        <div class="data">
          <p style="text-align: right; color: red" *ngFor="let todo of message">{{todo}}</p>
        </div>
      </td>
    </tr>

    <tr>
      <td id="td-three">
        <input style="text-align: center" #todo type="text" pInputText ngModel/>
        <button id="button-send_one" pButton type="button" label="ارسال" class="ui-button-raised ui-button-secondary" (click)="addtodo2(todo.value)"></button>
      </td>
    </tr>

  </table>

</div>
