
<div id="container">

  <div id="header">
    <h2>چت</h2>
  </div>

  <div id="menu">
    <h2 style="color: aliceblue; text-align: center">منو</h2>
    <hr/>
    <br/>
    <br/>
    <button pButton type="button" label="مدیریت کارمندان" class="ui-button-raised ui-button-secondary" (click)="navigateToComponentEmployee_chat()"></button>
    <br/>
    <br/>
    <br/>
    <button pButton type="button" label="چت" class="ui-button-raised ui-button-secondary" (click)="navigateToComponentChat_chat()"></button>
  </div>

  <div id="content">
    <app-personone [messageSub1]="data" (sendMessage1)="transLatMessage($event)"></app-personone>
  </div>

  <div id="content2">
    <app-persontwo [messageSub2]="data" (sendMessage2)="transLatMessage($event)"></app-persontwo>
  </div>

  <div id="footer"></div>
</div>
