

#container{
  width: 100%;
  background-color: aliceblue;
}

#header{
  height: 60px;
  margin-bottom: 5px;
  background-color: aliceblue;
  border-style: solid;
  border-color: darkcyan;
  border-width: 4px;
  text-align: center;
}

#menu{
  width: 20%;
  height: 500px;
  float: right;
  background-color: darkcyan;
  border-style: dashed;
  border-color: aliceblue;
  border-width: 4px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  text-align: center;
}

hr{
  color: aliceblue;
  size: 5px;
}

#content {
  width: 35%;
  height: 500px;
  float: right;
  background-color: white;
  border-style: solid;
  border-color: darkcyan;
  border-width: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 30px;
}

#content2{
  width: 35%;
  height: 500px;
  float: right;
  background-color: white;
  border-style: solid;
  border-color: darkcyan;
  border-width: 4px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 40px;
}

#footer{
  height: 30px;
  clear: both;
  text-align: center;
  background-color: darkcyan;
  border-style: solid;
  border-color: darkcyan;
  border-width: 4px;
  margin-top: 5px;
}

